.layout-wrapper {
  // display: flex;
  &__content {
    flex: 1;
    background: #ffffff;

    padding: 20px;
    overflow-y: scroll;
    height: calc(100vh - 100px);

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 4px;
      background-color: #f5f5f5;
    }

    &::-webkit-scrollbar {
      width: 6px;
      background-color: #f5f5f5;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #c1c1c1;
    }
  }
  &__container {
    display: flex;
  }
}

.header {
  background: #fff;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  box-shadow: 2px 3px 2px #dbdbdb;
  position: relative;
  z-index: 100;
  .line-hr {
    height: 30px;
    border: 1px solid #f2f2f2;
    margin: 0 20px;
  }
  &__left {
    display: flex;
    align-items: center;
    a {
      padding: 10px 5px;
      color: #636161;
    }
  }
  &__logo {
    width: 100px;
    // padding: 15px 0;
    img {
      width: 100%;
    }
  }
  &__avt {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    border-radius: 30px;
    & > span {
      font-size: 17px;
      font-weight: 500;
    }
    &:hover {
      // color: #5977ff;
      // background: #e6f4ff;
      cursor: pointer;
    }
    &--img {
      width: 40px;
      height: 40px;
      background: #f0f0f0;
      border-radius: 50%;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.ant-modal-header {
  border-bottom: 1px solid;
}

:where(.css-dev-only-do-not-override-1me4733).ant-modal .ant-modal-content {
  padding: 20px 24px 10px 24px;
}

.ant-table-body {
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #c1c1c1;
  }
}

.rowClassName1 td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.rowClassName1 td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
